.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span{
    margin: 100px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span {
    opacity: 0.6;
}

.open-post:last-child(2) {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 10px;
}

.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;
}

.open-post__hashtag {
    opacity: 0.6;
    margin-bottom: 10px;
}

.open-post__members {
    display: flex;
    align-items: center;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
}

.open-post__members .divider {
    width: 2px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
    color: #ffb0c0;
    font-weight: 700;
    font-size: 14px;
}

.open-post__column > img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.open-post__photo {
    position: relative; /* absolute children은 relative father가 꼭 필요. */
}

.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 7px;
    right: 7px;
}

.open-post__heart-count span {
    margin-left: 4px;
    font-size: 14px;
}

@keyframes heartBeat {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.15) translateY(0.5px);
        color: tomato;
    }
    100%{
        transform: scale(1);
    }
}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
} 